@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --hero-bg: url("");
  --primary: #bd6400;
  --primary-variant1: #ff9236;
  --primary-variant2: #ffc28f;
  --primary-variant3: #fff3e9;
  --secondary: #095b76;
  --secondary-variant1: #0d85ad;
  --secondary-variant2: #3fc5f0;
  --secondary-variant3: #f3faf9;
  --dark: #031c25;
  --gray: #495c63;
  --light: #fafdff;
}
/* typography */
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Comfortaa", cursive;
}
h1,
h2 {
  letter-spacing: -0.02rem;
}
h3 {
  letter-spacing: -0.01rem;
}
@media (min-width: 992px) {
  .display-1 {
    font-size: calc(1.625rem + 10vw);
  }
}

/* overwriting background colors */
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}
.bg-dark {
  background-color: var(--dark) !important;
}
.bg-light {
  background-color: var(--light) !important;
}

/* overwriting border colors */
.border-primary {
  border-color: var(--primary) !important;
}

/* overwriting text and link colors */
.text-light,
.link-light {
  color: var(--light) !important;
}
.text-dark,
.link-dark {
  color: var(--dark) !important;
}
.text-primary,
.link-primary {
  color: var(--primary) !important;
}
.text-secondary,
.link-secondary {
  color: var(--secondary) !important;
}

/* Overwriting buttons */
.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-variant1);
  border-color: var(--primary-variant1);
}

/* logo  */
.logo {
  fill: var(--light);
}
.logo-stroke {
  stroke: var(--light);
}
.logo.solid {
  fill: var(--dark);
}
.logo-stroke.solid {
  stroke: var(--dark);
}

/* Overwriting navbar background color when on lg screen */
@media (min-width: 992px) {
  .navbar-expand-lg .offcanvas {
    background-color: transparent !important;
  }
}

/* Overwriting navbar nav-link style */
.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  letter-spacing: 0.03rem;
  font-weight: 600;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* Overwriting nav-link colors */
.nav-link,
.nav-link:visited,
.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: var(--light);
}
@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link.solid {
    color: var(--dark);
    filter: none;
  }
}
.nav-link:hover,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--primary);
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary-variant1);
}
/* Overwriting dropdown */
.dropdown-item.active {
  color: var(--primary-variant1);
  background-color: white;
}
/* Hero images */
.hero {
  min-height: 100vh;
  max-height: 810px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--hero-bg) no-repeat center center fixed;
  background-size: cover;
}
#hero-home {
  --hero-bg: url("img/3.jpg");
}
#hero-descrizione {
  --hero-bg: url("img/3.jpg");
}
#hero-quartieri {
  --hero-bg: url("img/3.jpg");
}
#hero-servizi {
  --hero-bg: url("img/3.jpg");
}
#hero-istruzione {
  --hero-bg: url("img/3.jpg");
}
#hero-benessere {
  --hero-bg: url("img/3.jpg");
}
#hero-eventi {
  --hero-bg: url("img/3.jpg");
}
#hero-unisciti {
  --hero-bg: url("img/3.jpg");
}
